<%- include('./partials/head.ejs') %>

    <link rel="stylesheet" href="./css/profile.css" />
    <title>Profile</title>
</head>
<body>

<%- include('./partials/nav.ejs') %>
    
this is the profile

<%= JSON.stringify(user) %>

<%- include('./partials/foot.ejs') %>